<%- include('../partials/head') %>

<div class="container padding-bottom-3x mb-2 margin-top-control-other">
    <div class="card  shadow-lg o-hidden border-0 my-5 profile" style="  background: rgba(255, 255, 255, 0.85);">
        <div class="card-body p-0">
            <div class="row justify-content-center">


                <div class="col-lg-8 ">

                    <!-- section 1 generate request -->

                    <div class="p-5">
                        <div class="text-center">
                            <img src="/images/Logo/green-tick-check-mark-icon-simple-style-vector-8375981.jpg.png" alt=""
                                style="width: 100px; height: 20%;">
                        </div><br>
                        <div class="row justify-content-center">
                            <h3>Request Completed
                        </div>
                        <br>
                        <div class="row justify-content-center">
                            Thanks for using <a href="/" style="color: #ff8400 !important;">&nbsp Anndata</a>.
                        </div>
                        <div class="row justify-content-center mt-4 text-center">
                            <a href="/dashboard">
                                <button class="btn btn-primary btn-block text-white btn-user form-content" type="submit"
                                    style="font-size: 20px;width: 250px;">
                                    <i class="fa fa-chevron-left " style="color: white !important;"></i> &nbsp;
                                    Back</button>
                            </a>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<%- include('../partials/tail') %>