<%- include('../partials/head') %>

<div class="container padding-bottom-3x mb-2 margin-top-control-other">
    <div class="card  shadow-lg o-hidden border-0 my-5 profile" style="  background: rgba(255, 255, 255, 0.85);">
        <div class="card-body p-0">
            <div class="row justify-content-center">


                <div class="col-lg-8 ">

                    <!-- section 1 generate request -->

                    <div class="p-5">
                        <div class="text-center">
                            <h4 class="text" style="color: #16AF00;font-size: xx-large;">About Anndata </h4>
                        </div><br>
                        <div>
                            <h4 class="text-center"><i>“ LENDING A HAND TO NOURISH LIFE ”</i> </h4>
                        </div>
                        <br>
                        <div>

                            Anndata {n: one who provides subsistence}, is a simple, intuitive website/app powered by our
                            passion to help. It has been designed to deliver a solution that is convenient, practical
                            and secure into your ‘helping hands’.
                            <br><br>

                            Anndata has been designed to be a nourishing bridge between providers of food (donor) and
                            partakers of food (recipients) , Without compromising health or safety, we believe that
                            through this app/website, you will be able to ensure that someone else does not go hungry
                            based on the mutual convenience and comfort of the two individuals who are keen on
                            giving/receiving food/ration.
                            <br><br>

                            It is also vital to note that <strong> no monetary transactions
                            </strong>>are permitted via
                            the app and the ‘helping hand’ is strictly reserved for food or other
                            rations. <strong>No money</strong> can exchange hands and there is
                            <strong> no financial donation </strong>
                            element built into the app.
                            <br><br>

                            You can be kind, thoughtful, human…you can be an ‘Anndata’ and we sincerely hope you join us
                            in creating a movement to ensure that we defeat hunger, one meal at a time #wefeedindia
                            <br>
                        </div>
                        <br>
                        <div>
                            <!-- <h5>What you can do to help: <a href="/register" class="anchor-text"> SIGN UP Here </a>
                            </h5> -->
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<%- include('../partials/tail') %>