<%- include('../partials/head') %>

<div class="container padding-bottom-3x mb-2 margin-top-control-other">
    <div class="card  shadow-lg o-hidden border-0 my-5 profile" style="  background: rgba(255, 255, 255, 0.85);">
        <div class="card-body p-0">
            <div class="row justify-content-center">



                <div class="col-lg-8 ">

                    <!-- section 1 generate request -->

                    <div class="p-5">
                        <div class="text-center">
                            <h4 class="text" style="color: #16AF00;font-size: xx-large;">Philosophy</h4>
                        </div><br>

                        <div>
                            <div>


                                <h5 style="font-size: large;">ALL FOR ONE & ONE FOR ALL</h4>

                                    <div>

                                        Often, from the hardest times comes to the greatest opportunities. An
                                        opportunity is an unique and important chance to give back and to be the best
                                        human beings we can be.Collectively we have the power to conquer by ‘coming
                                        together’ in spirit and through a small act of help and hope as
                                        individuals.<br><br>


                                        Despite the many difficulties we think we are facing, we must remember that many
                                        other fellow citizens who are facing much worse situations than we are. People
                                        like you and us, whose jobs and lives have been severely impacted through no
                                        fault of theirs.
                                        <br><br>

                                        People for whom the crisis have affected their jobs and loss of income have been
                                        the hardest hit by and left them worried and stressed about feeding themselves
                                        and their families <br><br>

                                        These are people who live near and around you. And they need our help. <strong>
                                            Help </strong> that
                                        you can provide without straining your resources or putting yourself at any kind
                                        of risk. All it takes is the Power of One. The power of YOU.
                                        <br><br>


                                    </div>
                                    <br>
                                    <h2 class="text-center">WHY : </h2><br>
                                    <h5 style="font-size: large;">IF NOT US, THEN WHO?</h4>
                                        <div>
                                            Even as the Governments are doing their best to manage in this challenging
                                            time, it is equally important that each of us plays our own small, simple,
                                            pivotal role in the effort.<br><br>

                                            YOU have the power. The power to change someone’s life now, today, tomorrow,
                                            through just one small, simple act of giving. Giving something as simple and
                                            essential as food.<br><br>

                                            In India, we have always honoured our food. The act of feeding someone,
                                            anyone, is always regarded as a noble act, that brings one closer to
                                            ultimate divinity. <br><br>

                                            We understand that the situation is not normal, but we still have the
                                            ability to help, using technology, to ensure that we are safely and securely
                                            sharing nourishment with someone who needs it right now. <br><br>

                                            If each of us can feed just one more person…one pair of hands at a time…we
                                            will inevitably create a large social network which will ensure that no one
                                            goes hungry and no one loses their dignity while taking help in this hour of
                                            need.


                                        </div><br>
                                        <h2 class="text-center">WHAT : </h2><br>
                                        <h5 style="font-size: large;">ANNDATA – LENDING A HAND TO NOURISH A LIFE</h4>
                                            <br>
                                            <div>
                                                Anndata {n: one who provides subsistence}, is a simple, intuitive
                                                website/app powered by our passion to help. It has been designed to
                                                deliver a solution that is convenient, practical and secure into your
                                                ‘helping hands’.<br><br>

                                                It enables you to share cooked or uncooked food (rations) directly from
                                                the comfort of your home and kitchen, into the hands (and belly) of
                                                someone who desperately needs a meal. All you need to do is make (or
                                                buy) a little extra and share your fortune with someone less fortunate
                                                than you. You give whenever and whatever you can, and receive, every
                                                single time, the gift of someone’s heartfelt blessings.<br><br>

                                                We are hopeful that the abundance of your small action will continue to
                                                multiply as the number of individuals like you, grows in number and
                                                people get into the act of ‘giving a little and gaining a lot’.<br><br>

                                                The website/app ensures that social distancing and containment rules and
                                                regulations are not violated while helping each other since the giver
                                                and taker are required to be in the same geographic location based on
                                                the app’s presets.<br><br>

                                                It relies on the mutual convenience and comfort of the two individuals
                                                who are keen on giving/receiving on a particular day/time/location and
                                                does not require anything beyond this temporary connection to be made.
                                                Personal details of both parties are required to make an exchange of
                                                food (or rations) possible. Once the exchange is completed, app users
                                                become ‘invisible’ until they activate another exchange.<br><br>

                                                It is also vital to note that <strong> no monetary transactions
                                                </strong>>are permitted via
                                                the app and the ‘helping hand’ is strictly reserved for food or other
                                                rations. <strong>No money</strong> can exchange hands and there is
                                                <strong> no financial donation </strong>
                                                element built into the app.



                                            </div>
                            </div>
                        </div>
                        <br>

                        <h4 class="text-center" style="color: #16AF00;font-size: xx-large;">How :</h4>
                        <br>
                        <div class="text-center">
                            <h5>A CONTACT-FREE, HANDS-FREE HELPING HAND</h5>
                        </div>
                        <div>
                            The idea of Anndata is based on the simple knowledge that in most Indian households, simple,
                            wholesome food is prepared on a daily basis. Where an effort is already being made to cook
                            for your own household, adding just one more portion to the preparation would make barely
                            any difference to you, but would make a world of difference to someone desperately in need
                            of a meal. Similarly, adding just a little extra to your weekly grocery shopping can help
                            ensure that someone else who can’t afford to shop for basic necessities, can still avail of
                            those basics.

                        </div>
                        <br>
                        <div class="text-center">
                            <h5>Anndata <i><u>IS</u></i> an app that:</h5>
                        </div>
                        <div>
                            <ul>
                                <li>Helps as a bridge to connect providers of food (donor) and partakers of food
                                    (recipients) at a time when this is a critical need for the community and society at
                                    large .</li>
                                <li>Collects the location / geolocation of the person who is willing to provide food and
                                    allows the receiver of the food to see where he/she can collect food (guard houses,
                                    nodal centres, etc.)</li>
                                <li>Enables anonymity would the users choose and ensure that food givers and receivers
                                    do not need to meet each other at any point so that no government regulations around
                                    social distancing are not violated.</li>
                                <li>Provides visibility into the needs of recipients (dietary constraints if any, number
                                    of people in a needy family, etc) so that givers can decide who they want to support
                                    .</li>
                                <li>Relies on the kindness of the human spirit in a time of crisis, and puts ownership,
                                    control and responsibility into your hands.</li>
                            </ul>
                        </div>
                        <div class="text-center">
                            <h5>Anndata <i><u>IS NOT</u></i> an app that:</h5>
                        </div>
                        <div>
                            <ul>
                                <li>Seeks to collect or disburse monetary donations of any kind.</li>
                                <li>Is designed to connect people beyond a single, immediately fulfilled need. There is
                                    no expectation that givers and receivers remain in contact once a need has been
                                    fulfilled – a sense of anonymity is key in the way the app is designed .</li>
                                <li>Requires any specialized software or skills to use – it has a simple, safe, smart
                                    interface and has been designed for a specific purpose.</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<%- include('../partials/tail') %>