<%- include('../partials/head') %>

<div class="container padding-bottom-3x mb-2 margin-top-control-other">
    <div class="card  shadow-lg o-hidden border-0 my-5 profile" style="  background: rgba(255, 255, 255, 0.85);">
        <div class="card-body p-0">
            <div class="row justify-content-center">



                <div class="col-lg-8 ">

                    <!-- section 1 generate request -->

                    <div class="p-5">
                        <div class="text-center">
                            <h4 class="text mb-4" style="color: #16AF00;font-size: xx-large;">Stay Safe</h4>
                        </div>
                        <div>

                            <h5>Precautions</h5>
                            <div>
                                <li style="color: brown;"><b>#stayhomestaysafe</b></li>
                                <li>Please put on masks at all times during the engagement.</li>
                                <li>Download the <a href="https://www.mygov.in/aarogya-setu-app/"
                                        class="anchor-text">Aarogya Setu</a> app to help govt trace you for your safety.
                                </li>
                                <li>When interacting with outsiders Wear gloves if you have. </li>
                                <li>Wash/ Sanitise your hands before and after any interaction/ engagement.</li>
                                <li>Please minimise physical contact and maintain Social distancing. </li>
                                <li>Keep all conversations through virtual means (e.g. Calls and messages) unless
                                    necessary (e.g. delivering food/ groceries to the door) and keep a safe distance.
                                </li>
                                <li>Please do not continue with the volunteer/beneficiary engagement if there are any
                                    changes in your health, & travel status. </li>
                                <li>Take your temperature before engaging with anybody to ensure that you are well, and
                                    to protect others. </li>
                            </div>
                            <br>
                            
                                <h5>Myth Busters</h5>
                            </li><br>
                            <div>
                                <a href="#">
                                    <img class="img-fluid" src="/images/myth.png" alt=""
                                        style="width: 350px;height: 200px;">
                                </a>
                            </div>

                             
                           
                                <h5 style="margin-top: 20px;">Symptoms & Prevention</h5>

                                <div class="row sponsor-padding text-center justify-content-center">
                                    <div style="margin: 20px;">
                                        <a href="#">
                                            <img class="img-fluid" src="/images/symt1.png" alt=""
                                                style="height: 200px;width: 500px;">
                                        </a>
                                    </div>
                                    <div style="margin: 20px;">
                                        <a href="#">
                                            <img class="img-fluid" src="/images/symt2.png" alt=""
                                                style="height: 200px;width: 500px;">
                                        </a>
                                    </div>
                                </div>


                            </li>


                          
                                <h5>Government ON INDIA LINKS </h5>
                            </li>
                            <o l>
                                <li>Govt of India Latest updates; <a href="https://www.mygov.in/covid-19/?cbps=1"
                                        class="anchor-text"> Click Here</a></li>
                                <li>Govt of India : WhatsApp Hub; <a
                                        href="https://api.whatsapp.com/send?phone=919013353535&text=Hi&source=&data=&app_absent="
                                        class="anchor-text"> Click Here</a> </li>



                                <ol type="I">
                                    <li>LOCKDOWN 2.0 Guidelines w.e.f 20th Feb :</li>
                                    <li>Agricultural Services </li>
                                    <li>argo & Essential Services</li>

                                    <li>
                                        <div>

                                            <a href="#">
                                                <img class="img-fluid" src="/images/sym3.jpg" alt=""
                                                    style="height: 300px;width: 200px;">
                                            </a>
                                        </div>
                                    </li>

                                    <li>Commercial</li>
                                    <li>Financial and Social</li>
                                    <li>Health Services</li>
                                    <li>Hotspots</li>
                                    <li>Industrial Establishments </li>
                                    <li>Movement of Persons</li>
                                    <li>Public Spaces</li>
                                    <li>Public Utilities </li>
                                    <li>Work Spaces </li>
                                    <li>What will remain Closed</li>

                                </ol>

                                <br>
                                <li>Get latest Government approved<b style="color: brown;"> guidelines</b><br>
                                    <a href="/images/gist mygov.pdf" class="anchor-text" download="pdf"> Click Here</a>
                                </li>

                                </ol>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/tail') %>