<%- include('../partials/head') %>

<div class="container padding-bottom-3x mb-2 margin-top-control-other">
    <div class="card  shadow-lg o-hidden border-0 my-5 profile" style="  background: rgba(255, 255, 255, 0.85);">
        <div class="card-body p-0">
            <div class="row justify-content-center">



                <div class="col-lg-8 ">

                    <!-- section 1 generate request -->

                    <div class="p-5" id="generate_req">
                        <div class="text-center">
                            <h4 class="text mb-4" style="color: #16AF00;font-size: xx-large;">TEAM</h4>
                        </div>
                        <div>
                            Anndata has been brought to life by a group of like-minded professionals (individuals) under
                            the guidance of Mr. Rohit Dadwal. They have come together with a sole objective to provide a
                            solution that can help solve the hunger crisis issue that’s been plaguing India and its
                            population. It is based on the principle of ISR (Individual Social Responsibility). <br><br>

                            We seek support from all who come across this project to support and share it widely with an
                            inherent belief that collective effort by one and all will help reduce the challenges faced
                            in tacking the nationwide hunger crisis.
                            <br><br>

                            Special thanks to the team of computer science students who have worked tirelessly to code
                            and develop this project and are committed to taking it forward. <br><br>

                            Anndata is a work-in-progress and has been built in record time to fulfil the pressing issue
                            of hunger and food crisis. It may not be the best app in existence today, but its heart is
                            in the right place, so please bear with us and take this journey with us, and if your
                            experience with the app is not ideal – we welcome your feedback!<br><br>

                        </div>
                        <div class="text-center" style="color:#16AF00 ; font-size: large;"><i><b>“A journey of a
                                    thousand miles starts with a single step”</b></i></div>
                        <br>
                        <div class="sponsors-wrap">
                            <!-- <h3 class="sponsor-title text-center">Bronze Partners</h3> -->
                            <div class="row sponsor-padding text-center justify-content-center">

                                <!-- Col 1 end -->
                                <div class="col-lg-5">
                                    <a href="#" class="sponsors-logo">
                                        <img class="img-fluid" src="/images/team/2.png" alt="" width="65%"
                                            style="margin-top: -2%;margin-bottom: -20%;">
                                    </a>
                                </div>
                                <!-- Col 2 end -->
                                <div class="col-lg-5 mt-5" style="margin: 20px;margin-bottom: -2%;">
                                    <a href="#" class="sponsors-logo">
                                        <img class="img-fluid" src="/images/team/Bonzai New Logo.png" alt=""
                                            width="100%">
                                    </a>
                                </div>
                                <!-- Col 3 end -->
                                <div class="col-lg-5 mt-5 style=" margin: 20px;">
                                    <a href="#" class="sponsors-logo">
                                        <img class="img-fluid" src="/images/team/isparx Logo 2.jpg" alt="" width="60%"
                                            style="margin-top: 5%;margin-bottom: 8%;">
                                    </a>
                                </div>
                                <!-- Col 4 end -->
                                <div class="col-lg-5 mt-5" style="margin: 20px;">
                                    <a href="#" class="sponsors-logo">
                                        <img class="img-fluid" src="/images/team/TEH logo final 1 White.png" alt=""
                                            width="70%">
                                    </a>
                                </div>
                                <div class="col-lg-5 mt-5" style="margin: 20px;">
                                    <a href="#" class="sponsors-logo">
                                        <img class="img-fluid" src="/images/team/incubate.png" alt="" width="65%">
                                    </a>
                                </div>

                                <div class="col-lg-5 mt-5" style="margin: 20px;">
                                    <a href="#" class="sponsors-logo">
                                        <img class="img-fluid" src="/images/team/MS-Trademark-Box-filled.png" alt=""
                                            width="70%">
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('../partials/tail') %>