<%- include('../partials/head') %>

<div class="container padding-bottom-3x mb-2 margin-top-control-other">
    <div class="card  shadow-lg o-hidden border-0 my-5 profile" style="  background: rgba(255, 255, 255, 0.85);">
        <div class="card-body p-0">
            <div class="row justify-content-center">

                <div class="col-lg-8 ">

                    <!-- section 1 generate request -->

                    <div class="p-5" id="generate_req">
                        <div class="text-center">
                            <h4 class="text mb-4" style="color: #16AF00;font-size: xx-large;">Terms & Conditions and
                                Privacy Policy</h4>
                        </div>
                        <h5>
                            Terms & Conditions
                        </h5>
                        <div>
                            These terms and conditions ("Terms", "Agreement") are an agreement between Mobile
                            Application Developer ("Mobile Application Developer", "us", "we" or "our") and you ("User",
                            "you" or "your"). This Agreement sets forth the general terms and conditions of your use of
                            the Anndata mobile application and any of its products or services (collectively, "Mobile
                            Application" or "Services").
                        </div><br><br>
                        <h5>
                            Accounts and membership
                        </h5>
                        <div>
                            You must be at least 13 years of age to use this Mobile Application. By using this Mobile
                            Application and by agreeing to this Agreement you warrant and represent that you are at
                            least 13 years of age. If you create an account in the Mobile Application, you are
                            responsible for maintaining the security of your account and you are fully responsible for
                            all activities that occur under the account and any other actions taken in connection with
                            it. We may, but have no obligation to, monitor and review new accounts before you may sign
                            in and use our Services. Providing false contact information of any kind may result in the
                            termination of your account. You must immediately notify us of any unauthorized uses of your
                            account or any other breaches of security. We will not be liable for any acts or omissions
                            by you, including any damages of any kind incurred as a result of such acts or omissions. We
                            may suspend, disable, or delete your account (or any part thereof) if we determine that you
                            have violated any provision of this Agreement or that your conduct or content would tend to
                            damage our reputation and goodwill. If we delete your account for the foregoing reasons, you
                            may not re-register for our Services. We may block your email address and Internet protocol
                            address to prevent further registration. </div><br><br>

                        <h5>
                            Links to other mobile applications
                        </h5>
                        <div>
                            Although this Mobile Application may link to other mobile applications, we are not, directly
                            or indirectly, implying any approval, association, sponsorship, endorsement, or affiliation
                            with any linked mobile application, unless specifically stated herein. We are not
                            responsible for examining or evaluating, and we do not warrant the offerings of, any
                            businesses or individuals or the content of their mobile applications. We do not assume any
                            responsibility or liability for the actions, products, services, and content of any other
                            third- parties. You should carefully review the legal statements and other conditions of use
                            of any mobile application which you access through a link from this Mobile Application. Your
                            linking to any other off-site mobile applications is at your own risk.
                        </div><br><br>

                        <h5>
                            Prohibited use
                        </h5>
                        <div>
                            In addition to other terms as set forth in the Agreement, you are prohibited from using the
                            Mobile Application or its Content: <br>
                            (a) for any unlawful purpose;
                            <br>
                            (b) to solicit others to perform or participate in any unlawful acts; <br>
                            (c) to violate any international, federal, provincial or state regulations, rules, laws, or
                            local ordinances;
                            <br>
                            (d) to infringe upon or violate our intellectual property rights or the intellectual
                            property rights of others;
                            <br>
                            (e) to harass, abuse, insult, harm, defame, slander, disparage, intimidate, or discriminate
                            based on gender, sexual orientation, religion, ethnicity, race, age, national origin, or
                            disability;
                            <br>
                            (f) to submit false or misleading information;
                            <br>
                            (g) to upload or transmit viruses or any other type of malicious code that will or may be
                            used in any way that will affect the functionality or operation of the Service or of any
                            related mobile application, other mobile applications, or the Internet;
                            <br>
                            (h) to collect or track the personal information of others;
                            <br>
                            (i) to spam, phish, pharm, pretext, spider, crawl, or scrape;
                            <br>
                            (j) for any obscene or immoral purpose; or
                            <br>(k) to interfere with or circumvent the security features of the Service or any related
                            mobile application, other mobile applications, or the Internet. We reserve the right to
                            terminate your use of the Service or any related mobile application for violating any of the
                            prohibited uses. </div><br><br>

                        <h5>
                            Intellectual property rights
                        </h5>
                        <div>
                            This Agreement does not transfer to you any intellectual property owned by Mobile
                            Application Developer or third-parties, and all rights, titles, and interests in and to such
                            property will remain (as between the parties) solely with Mobile Application Developer. All
                            trademarks, service marks, graphics and logos used in connection with our Mobile Application
                            or Services, are trademarks or registered trademarks of Mobile Application Developer or
                            Mobile Application Developer licensors. Other trademarks, service marks, graphics and logos
                            used in connection with our Mobile Application or Services may be the trademarks of other
                            third- parties. Your use of our Mobile Application and Services grants you no right or
                            license to reproduce or otherwise use any Mobile Application Developer or third-party
                            trademarks.

                        </div><br><br>
                        <h5>
                            Limitation of liability
                        </h5>
                        <div>
                            To the fullest extent permitted by applicable law, in no event will Mobile Application
                            Developer, its affiliates, officers, directors, employees, agents, suppliers or licensors
                            be liable to any person for (a): any indirect, incidental, special, punitive, cover or
                            consequential damages (including, without limitation, damages, injury, or illness of
                            whatsoever nature and howsoever suffered by the recipient ( person or property) as a result
                            direct or indirectly in hand over of the goods, its consumption and its acceptance,
                            responsible for any deterioration, goodwill, use of the content, impact on business,
                            interruption, anticipated medical costs, loss of business opportunity), however caused,
                            under any theory of liability, including, without limitation, contract, tort, warranty,
                            breach of statutory duty, negligence or otherwise, even if Mobile Application Developer has
                            been advised as to the possibility of such damages or could have foreseen such damages. To
                            the maximum extent permitted by applicable law, the aggregate liability of Mobile
                            Application Developer and its affiliates, officers, employees, agents, suppliers and
                            licensors, relating to the services will be limited to an amount greater of one Rupee or any
                            amounts actually paid in cash by you to Mobile Application Developer for the prior one month
                            period prior to the first event or occurrence giving rise to such liability. The limitations
                            and exclusions also apply if this remedy does not fully compensate you for any losses or
                            fails of its essential purpose.
                        </div><br><br>



                        <h5>
                            Indemnification
                        </h5>
                        <div>
                            You agree to indemnify and hold Mobile Application Developer and its affiliates, directors,
                            officers, employees, and agents harmless from and against any liabilities, losses, damages
                            or costs, including reasonable attorneys' fees, incurred in connection with or arising from
                            any third-party allegations, claims, actions, disputes, or demands asserted against any of
                            them as a result of or relating to your Content, your use of the Mobile Application or
                            Services or any willful misconduct on your part.
                        </div><br><br>



                        <h5>
                            Severability
                        </h5>
                        <div>
                            All rights and restrictions contained in this Agreement may be exercised and shall be
                            applicable and binding only to the extent that they do not violate any applicable laws and
                            are intended to be limited to the extent necessary so that they will not render this
                            Agreement illegal, invalid or unenforceable. If any provision or portion of any provision of
                            this Agreement shall be held to be illegal, invalid or unenforceable by a court of competent
                            jurisdiction, it is the intention of the parties that the remaining provisions or portions
                            thereof shall constitute their agreement with respect to the subject matter hereof, and all
                            such remaining provisions or portions thereof shall remain in full force and effect.
                        </div><br><br>



                        <h5>
                            Dispute resolution
                        </h5>
                        <div>
                            The formation, interpretation, and performance of this Agreement and any disputes arising
                            out of it shall be governed by the substantive and procedural laws of Himachal Pradesh,
                            India without regard to its rules on conflicts or choice of law and, to the extent
                            applicable, the laws of India. The exclusive jurisdiction and venue for actions related to
                            the subject matter hereof shall be the courts located in Himachal Pradesh, India, and you
                            hereby submit to the personal jurisdiction of such courts. You hereby waive any right to a
                            jury trial in any proceeding arising out of or related to this Agreement. The United Nations
                            Convention on Contracts for the International Sale of Goods does not apply to this
                            Agreement.
                        </div><br><br>


                        <h5>
                            Changes and amendments
                        </h5>
                        <div>
                            We reserve the right to modify this Agreement or its policies relating to the Mobile
                            Application or Services at any time, effective upon posting of an updated version of this
                            Agreement in the Mobile Application. When we do, we will revise the updated date at the
                            bottom of this page. Continued use of the Mobile Application after any such changes shall
                            constitute your consent to such changes. The policy was created with Website Policies.
                        </div><br><br>




                        <h5>
                            Acceptance of these terms
                        </h5>
                        <div>
                            You acknowledge that you have read this Agreement and agree to all its terms and conditions.
                            By using the
                            Mobile Application or its Services you agree to be bound by this Agreement. If you do not
                            agree to abide by the terms of this Agreement, you are not authorized to use or access the
                            Mobile Application and its Services.
                        </div><br><br>



                        <h5>
                            Contacting us
                        </h5>
                        <div>
                            If you would like to contact us to understand more about this Agreement or wish to contact
                            us concerning any matter relating to it, you may do so via the contact form or send an email
                            to <a href="#" class="anchor-text"> Info@anndata.co.in </a> </div><br><br>






                        <div class="text-center">
                            <h4 class="text mb-4" style="color: #16AF00;font-size: xx-large;">Privacy Policy</h4>
                        </div>
                        <div class="text-center">
                            Your privacy is important to Anndata. So we’ve developed a Privacy Policy that covers how we
                            collect, uses disclose, transfer, and store your information.
                        </div>

                        <br>


                        <h5>
                            Introduction
                        </h5>
                        <div>
                            We created this Privacy Policy (this “Policy”) to give you confidence as you visit and use
                            the Services, and to demonstrate our commitment to fair information practices and the
                            protection of privacy. This Policy is only applicable to the Services, and not to any other
                            websites or services that you may be able to access from our Services, each of which may
                            have data collection and use practices and policies that differ materially from this Policy.
                        </div>


                        <h5>
                            Where We Store Your Data?
                        </h5>
                        <div>
                            Anndata provides Services from India. So when you use our Services, the information you
                            enter will be sent to and stored in our servers in India. If you are visiting our website or
                            using our Services from anywhere outside of India, including any part of the European Union,
                            please note that you are expressly agreeing and consenting that your information will be
                            transferred to, processed in and stored in India, where we will always treat it as described
                            in this Privacy Policy.

                        </div><br>


                        <h5>
                            Not a Service for Children.
                        </h5>
                        <div>
                            We understand and are committed to respecting the sensitive nature of children’s privacy
                            online. We provide our Services for use by adults 18 years old and older and do not direct
                            any of our content specifically at persons under 18 years of age. If we learn or have reason
                            to suspect that a Services user is under age 13, we will promptly delete any personal
                            information in that user’s account. If you believe that we might have any information from
                            or about a child under 13, please contact us at support@anndata.co.in. If we learn or have
                            reason to suspect that a Services user is under age 13, we may exercise our right to
                            terminate the account.


                        </div><br>



                        <h5>
                            Things You Can Do to Protect Your Information Privacy.
                        </h5>
                        <div>

                            This Policy will explain how we collect and use information. But please keep in mind that
                            Anndata Services allow our users to connect directly to each other. Using our application
                            features, Donor, Donee and Volunteer (Nodal centre) users can send messages using the
                            application features You should always be aware of what information you are sharing and take
                            care not to expose personal information. Also, here are a few specific ways you can protect
                            the privacy of your information:
                            <ul>
                                <li>Never display identifying documents like a passport, driver’s license or other
                                    government-issued ID cards.</li>
                                <li>Never share credit card, bank/checking account, insurance or other financial
                                    information.</li>
                                <li>Do not share mail that displays your address.</li>
                                <li>Never share your government identification number.</li>
                                <li>Do not share information about your medicines or health conditions.</li>
                            </ul>

                        </div><br>



                        <h5>
                            Information We Collect.
                        </h5>
                        <div>
                            Anndata may use registration, online surveys, and other online forms that ask you to provide
                            your name, e-mail address, and other contact information. We will also ask if you are a
                            Donor, Donee or Volunteer & Nodal Centre. In the future, we may also ask for other
                            information. But since we are asking, you will always know!

                            If you register with Anndata through a social networking account like Facebook, Twitter,
                            Instagram or Google, then we will collect the information that you allow us to collect via
                            the controls offered by your account with that provider.

                            We also collect and store data that we need to provide the Services to you and to improve
                            those Services. This section will give you more information about the kinds of information
                            we collect, but the specific information we collect will depend on whether you are using our
                            app or visiting our website.

                        </div><br>
                        <div>(a) Device and Traffic Data. Our servers automatically recognize and store your domain
                            names, Internet Protocol (“IP”) addresses (the number assigned to your device when it
                            accesses the Internet), device identifiers (small data files or similar data structures
                            stored on or associated with your mobile device or wearable, which uniquely identify your
                            device), and your device’s name, model, operating system and locale. The Services may also
                            gather anonymous traffic data — for example, the amount of data passing through our Services
                            at any point in time — that does not personally identify you but may help improve our
                            business and how we serve you.</div><br>
                        <div>(b) Cookies and Similar Technologies. From time to time, we may use the standard cookies
                            feature of major browser applications, pixels or web beacons that allows us to store a small
                            piece of data on the computer, mobile device or wearable device you use to access our
                            Services. We may also use similar technologies when you use our app. We do not set any
                            personally identifiable information in cookies. These technologies help us learn which areas
                            of our Services are useful and which areas need improvement. You can choose whether to
                            accept cookies and other web technologies by changing the settings on your browser. However,
                            if you choose to disable these functions, your experience using our Services may be
                            diminished and some features may not work as they were intended.

                        </div><br>
                        <div>(c) Log Files. When you access our Services, we may automatically record certain log file
                            information, including your request, browser type (when you access our website), referring /
                            exit pages and URLs, several clicks and how you interact with links on the Service, domain
                            names, landing pages, pages viewed, and other such information. We may also collect similar
                            information from emails we send you to help us track which emails are opened and which links
                            are clicked. The information we collect helps us achieve a better, more accurate
                            understanding of how our Services are used, and how we can improve them.</div>
                        <br>
                        <div>
                            (d) Metadata. Metadata is usually technical data that is associated with User Content. For
                            example, Metadata can describe how, when and by whom a piece of User Content was collected,
                            how that content is formatted, and where in the world that content was created.
                        </div><br>
                        <div>(e) Analytics Data. We may use third-party analytics tools to help us measure traffic and
                            usage trends for the Services. These tools collect information sent by your device or our
                            Services to assists us in improving the Service.</div><br>




                        <h5>
                            How We Use and Share Information
                        </h5>
                        <div>
                            Our goal in using and sharing information is to create better services to connect the Donor
                            with the Donee and the Volunteer. It could also mean sharing information with advocacy and
                            support organizations to give them a better window into the services they need to develop to
                            support the community. Here is how we use and share, or not share, the different kinds of
                            information we collect.

                        </div><br><br>
                        <div>(a) Personal Information. Personal information is information relating to an identified or
                            identifiable natural person – in other words, information that can identify you, directly or
                            indirectly. Except (i) as stated in this Policy, (ii) as necessary to provide you with our
                            Services, or (iii) as necessary to comply with the law, we will not share your personal
                            information with any third parties without your consent.</div>
                        <br>
                        <div>Here is how we may use your personal information under this Policy:

                            We may use your personal information to verify your identity, to check your qualifications,
                            or to follow up with activities initiated on the Services. We may also use your contact
                            information to stay in touch, send newsletters, inform you of any changes to the Services,
                            or to send you additional information about Anndata. If we ever use a third party to help us
                            provide our Services, our first choice will be to not provide that third party with access
                            to any personal information. But if that third party needs access to your personal
                            information to help us provide the Service, we will share the information with them only
                            under an agreement that does not allow them to use it for any other purpose. We may share
                            your contact information with non-profit organizations that advocate for or support people
                            who in need of food (“Support Organizations”) that may use the information to contact you or
                            make you aware of the services they offer.
                        </div> <br>
                        <div>(b) User Content. As just noted, if you disclose personal information on Anndata, that
                            personal information may become known to and accessible by Anndata and any third party with
                            which we share the information under this Policy. Likewise, if you make a post that includes
                            your name to a public area of the Services, or if you provide your name, location, or image
                            of yourself to another user while using the Services, for example, you are choosing to
                            disclose personal information and to make that information public. Anndata is not
                            responsible how other users or third parties may share, disclose or handle information that
                            you make available to them.

                        </div><br>


                        <div>By disclosing personal information in your User Content you expressly give Anndata
                            permission to disclose that information (i) as part of the normal functioning of the
                            Services and (ii) as described throughout this Privacy Policy.

                        </div><br>
                        <div>
                            (c) Anonymous Information. We sometimes collect and use anonymous information to analyze our
                            Services traffic. Also, we may use anonymous information to help diagnose problems with our
                            server, to administer our Services, or to display content according to your preferences. We
                            may also strip your personal information from data about your use of the Services to create
                            anonymized data that we aggregate with anonymized data of other users (for example, to
                            determine the number of Donors we have in a particular region). We may use anonymous and
                            anonymized information for any legal purpose.
                        </div><br>
                        <div>(d) Use of Cookies and Similar Technologies. We may use cookies or other similar
                            technologies to deliver content specific to your interests, to save your username so you
                            don’t have to re-enter it each time you use our Services, or for other purposes.

                        </div>
                        <br>
                        <div>(e) Required Disclosure of Personal Information. We may disclose personal information if
                            required to do so by law or in the good-faith belief that such action is necessary to (1)
                            conform to the law or comply with legal process served on Anndata or any parent company,
                            subsidiaries or affiliates, (2) protect and defend the rights or property of Anndata or the
                            users of the Services, or (3) act under exigent circumstances to protect the safety of the
                            public or users of the Services.

                        </div>
                        <br>
                        <div>(f) Third-Party Log-Ins. If you log in to our Services using a third-party social
                            networking account like Facebook or Google, any information you provide that third party is
                            subject to their terms of use and privacy policies. Anndata is not responsible for how your
                            information is collected or used by such third parties.

                        </div>
                        <br>
                        <div>(g) Sale of Anndata. As businesses grow and evolve, another company can buy them (or some
                            part of them). If Anndata or substantially all of its assets are acquired, user information,
                            including personal information, will be one of the assets transferred to the acquirer. If a
                            company that acquires Anndata gets access to your information, it will be bound by this
                            Privacy Policy in its treatment of all such information.

                        </div>
                        <br>


                        <h5>
                            Access to and Deletion of Your Information
                        </h5>
                        <div>
                            If you would like to review or request changes to the information that we collect about you,
                            please contact us at support@anndata.co.in. If we are unable to meet your specific request,
                            you have the option to ask us to delete all of your information in our systems.
                        </div><br><br>


                        <h5>
                            Data Security
                        </h5>
                        <div>
                            The Services have security measures in place to prevent the loss, misuse, and alteration of
                            the information that we obtain from you, but we make no assurances about our ability to
                            prevent any such loss or misuse to you or any third party.
                        </div><br><br>





                        <h5>
                            Areas We Do Not or Can Not Control
                        </h5>
                        <div>
                            There are some parts of our Services where we either cannot or do not control the flow of
                            information.

                        </div><br><br>
                        <div>(a) Public Forums. The Services may include interactive forums such as message boards and
                            chat rooms. Please remember that any information that is disclosed in these areas becomes
                            public information and you should exercise caution when deciding to disclose your personal
                            information

                        </div> <br>
                        <div>
                            (b) Third-Party Services, The Services may contain links to other websites and services, and
                            you may use other services to register for or log into Anndata. If you choose to visit or
                            use other websites or services, we are not responsible for their privacy practices or
                            content. It is your responsibility to review the applicable privacy policies to confirm that
                            you understand and agree with them.
                            <br>
                        </div>
                        <div>

                            (c) Video/Audio Streams. Anndata does not actively monitor and has no control over the
                            content of video /audio streams. The Terms of Use for our Services that you agreed to
                            prohibit using the video streams for certain purposes — no nudity or bank account
                            information, for two examples. Please do not use video streams for purposes that are not
                            permitted. Please also exercise caution in choosing what images you share, what you say, and
                            what information you disclose while chatting with another user on a video /audio stream.

                            <br>
                        </div>






                        <h5>
                            How to Contact Us
                        </h5>
                        <div>
                            If you have any questions about this Policy, our practices related to this Services, or if
                            you would like to have us remove your information from our database please feel free to
                            contact us at support@anndata.co.in . </div><br><br>

                        <br>
                        <h5>
                            Updates and Changes
                        </h5>
                        <div>
                            From time to time, we may add to, change, update, or modify this Policy. If we change the
                            policy in a way that affects how your data will be used or the permissions you grant to
                            Anndata, we will notify you and ask that you review the new Policy. At that time, you can
                            elect to accept the new policy and continue using our Services, or you can stop using our
                            Services. We may not notify you of changes that do not affect how your data will be used or
                            the permission you grant us. We ask that you review this Policy from time to time to ensure
                            that you continue to agree with all of its terms, and your continued use of the Services
                            after a change will constitute your agreement to the new terms.

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<%- include('../partials/tail') %>