<%- include('../partials/head') %>

<div class="container padding-bottom-3x mb-2 margin-top-control-other">
    <div class="card  shadow-lg o-hidden border-0 my-5 profile" style="  background: rgba(255, 255, 255, 0.85);">
        <div class="card-body p-0">
            <div class="row justify-content-center">



                <div class="col-lg-8 ">

                    <!-- section 1 generate request -->

                    <div class="p-5" id="generate_req">
                        <div class="text-center">
                            <h4 class="text mb-4" style="color: #16AF00;font-size: xx-large;">What food & How to Give
                            </h4>
                        </div>

                        <div>
                            More than anything, it’s important to donate what you would like to eat or serve your
                            family.
                            <br>
                            People who need help from would appreciate good, healthy food as much as the next person!
                            <br>
                            Of course, the important thing is to do what you can. Giving food is awesome, and people
                            will love you for it no matter what you give (unless it’s spoiled).
                        </div>
                        <br>
                        <h5 class="text-center">
                            Foods That Can Be Easily Sent
                        </h5>
                        <div>
                            <ul>
                                <li>FOOD PREPARATIONS ADVISABLE TO GIVE
                                    <ol type="1">
                                        <li>COOKED RICE </li>
                                        <li>CHAPPATI </li>
                                        <li>PARANTHA</li>
                                        <li>PURIS</li>
                                        <li>VADA</li>
                                        <li>IDLY</li>
                                        <li>LENTILS (DAL) DRY </li>
                                        <li>BONDA</li>
                                        <li>MATTHI</li>
                                        <li>CAKES</li>
                                        <li>DRY COOKED VEGETABLES </li>
                                        <li>BOILED EGGS</li>
                                        <li>GUR CHANA</li>
                                        <li>FRIED RICE/ BIRYANI</li>
                                        <li>DRY PREPARATION OF SEASONAL VEGETABLES </li>
                                    </ol>
                                </li><br>
                                <li>
                                    RATIONS ADVISABLE TO GIVE
                                    <div>Preferably make meal kit (for a family of 5) contains a combination of wheat
                                        flour, rice and two types of pulses that can be used to cook meals for the
                                        family for a week.</div>
                                    <ol type="1">
                                        <li>RICE</li>
                                        <li>FLOUR</li>
                                        <li>DAL</li>
                                        <li>BREAD</li>
                                        <li>BISCUIT</li>
                                        <li>VEGETABLES </li>
                                        <li>FAFRA</li>
                                        <li>PAPAD</li>
                                        <li>KHAKHRA</li>
                                        <li>EGGS</li>
                                        <li>CAKES </li>
                                        <li>ONION </li>
                                        <li>POTATO</li>
                                        <li>SALT</li>
                                        <li>SPICES </li>
                                    </ol>
                                </li>
                                <li>FRUITS ( ONLY COVERED FRUITS)
                                    <ol>
                                        <li>BANANAS </li>
                                        <li>APPLES </li>
                                        <li>ORANGES</li>

                                    </ol>
                                </li><br>


                            </ul>

                            <h5>Things That Should Never Be Sent</h5>
                            <ol>
                                <li>MILK & DAIRY PRODUCTS </li>
                                <li>COOKED LENTILS (DAL) WITH GRAVY </li>
                                <li>ANY DISH WITH GRAVY </li>
                                <li>NON VEGETARIAN FOOD (due to cultural)</li>
                            </ol><br>


                            <h5>How to Pack ( wrap the food ) </h5>
                            <ol>
                                <li>Newspapers </li>
                                <li>Pages from Notebooks </li>
                                <li>Aluminium foils </li>
                                <li>Aluminium disposable containers </li>
                                <li>Food grade plastic sheet if local regulations permit</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/tail') %>